# =========================
# CONFIGURAÇÕES DO BANCO
# =========================
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_SERVER=db
POSTGRES_PORT=5432
POSTGRES_DB=atos_receita

SECRET_KEY=chave-super-secreta-do-teste
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# =========================
# CONFIGURAÇÕES DO RPA
# =========================
RPA_TARGET_URL=http://normas.receita.fazenda.gov.br/sijut2consulta/consulta.action
RPA_API_URL=http://localhost:8000/api/v1/atos/bulk